.azeret-normal{
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
  }

*{
  box-sizing: border-box;
    margin: 0;
    padding: 0;
}


 /* banner design start */
.banner-content{
  width: 1335px;
  
  /* left: 0;
right: 0;
padding-top: 20px;
margin-top: 30px; */
margin: auto 0;
min-height: 652px;
margin-top: 60px;
background-image: url(../assets/Hero-bg.png);
background-position: center;
background-repeat: no-repeat;
background-size: cover;


}
.banner-container{
  display: flex;
flex-direction: column;
justify-content: center;
height: 500px;
align-items: center;
gap: 18px;


}
.banner-container h1{
  color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 28px;
font-weight: 800;

text-align: center;

}
.banner-container p{
  color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;

}
.call-btn{
  border-radius: 8px;

background: rgb(13, 19, 33);
width: 208px;
height: 66px;
cursor:  pointer;

}
.banner-container button{
  color: white;
  
}

/* banner design end */    


 /*  Why Web Development?? section 2 design  start */


 .work-container{
    width: 1140px;
    height: 1395px;
   left: 148px;
   right: 152px;
   top: 857px;
   bottom: 2993px;
   margin: 0 auto;
   margin-top: 50px;
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
   padding: 80px 97px 80px 97px;
   border-radius: 16px;
   
   background: rgba(13, 19, 33, 0.02);
   }
   .text-container{
   
   width: 852px;
   height: 115px;
   
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   padding: 0px;
   gap: 20px;
   
   flex: none;
   order: 0;
   flex-grow: 0;
   margin: 48px 0px;
   margin-top: 5px;
   }
   .text-container h1{
     color: rgb(13, 19, 33);
     font-family: Azeret Mono;
     font-size: 32px;
     font-weight: 800;
     line-height: 37px;
     letter-spacing: 0%;
     text-align: center;
   
   }
   .text-container p{
     position: static;
   width: 852px;
   height: 52px;
   
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   padding: 0px;
   
   margin: 24px 0px;
   color: rgb(13, 19, 33);
   font-family: Azeret Mono;
   font-size: 16px;
   font-weight: 400;
   line-height: 26px;
   letter-spacing: 0%;
   text-align: center;
   opacity: 0.7;
   
   } 
   
   /* contain-1st design start */
   .contain-1st{
     width: 946px;
   height: 336px;
   
   display: flex;
   justify-content: space-between;
   align-items: center;
       background-color: #f1f1f1;
       padding: 48px;
   margin: 32px 0px;
   border-radius: 16px;
   
   background: rgba(13, 19, 33, 0.02);
   
   }
   .contain-1st .left-content{
     width: 477px;
   height: 220px;
  
   margin: 0px 10px;
   }
   .contain-1st .left-content h2{
     width: 390px;
   height: 72px;
   
   margin: 16px 0px;
   color: rgba(13, 19, 33, 0.7);
   font-family: Azeret Mono;
   font-size: 24px;
   font-weight: 700;
   line-height: 36px;
   letter-spacing: 0%;
   text-align: left;
   
   }
   .contain-1st .left-content p{
     width: 468px;
   height: 52px;
   
   color: rgb(13, 19, 33);
   opacity: 0.7;
   
   font-size: 16px;
   font-weight: 400;
   line-height: 26px;
   letter-spacing: 0%;
   text-align: left;
   }
   
   .contain-1st .left-content button{
   
     width: 150px;
   height: 48px;
   
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   padding: 12px 20px 12px 20px;
   margin: 32px 0px;
   box-sizing: border-box;
   border: 1px solid rgb(13, 19, 33);
   opacity: 0.7;
   color: rgb(13, 19, 33);
   font-family: Azeret Mono;
   font-size: 15px;
   font-weight: 600;
   
   letter-spacing: 0%;
   text-align: center;
   cursor: pointer;
   }
   
   
   .contain-1st .right-content{
     width: 259.56px;
     height: 217.01px;
     
     margin: 16px 0px;
     margin: 16px 0px;
     
   }
   
   .contain-1st .right-content img{
    
   position: absolute;
   width: 259.56px;
   height: 217.01px;
   
   }
   
   /* contain-1st design end */
   
   
   /* contain-2nd design start */
   
   .contain-2nd{
     width: 946px;
   height: 336px;
   
   display: flex;
   justify-content: space-between;
   align-items: center;
       background-color: #f1f1f1;
       padding: 48px;
   margin: 32px 0px;
   border-radius: 16px;
   
   background: rgba(13, 19, 33, 0.02);
   
   }
   .contain-2nd .left-content{
     width: 259.56px;
     height: 217.01px;
     
     margin: 16px 0px;
     margin: 16px 0px;
     
   }
   
   .contain-2nd .left-content img{
     
   position: absolute;
   width: 259.56px;
   height: 217.01px;
   
   }
   
   .contain-2nd .right-content{
     width: 477px;
   height: 220px;
   
   margin: 0px 10px;
   }
   .contain-2nd .right-content h2{
     width: 390px;
   height: 72px;
   
   margin: 16px 0px;
   color: rgba(13, 19, 33, 0.7);
   font-family: Azeret Mono;
   font-size: 20px;
   font-weight: 700;
   line-height: 36px;
   letter-spacing: 0%;
   text-align: left;
   
   }
   .contain-2nd .right-content p{
     width: 468px;
   height: 52px;
   
   color: rgb(13, 19, 33);
   opacity: 0.7;
   
   font-size: 16px;
   font-weight: 400;
   line-height: 26px;
   letter-spacing: 0%;
   text-align: left;
   }
   
   .contain-2nd .right-content button{
   
     width: 150px;
   height: 48px;
   
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   padding: 12px 20px 12px 20px;
   margin: 32px 0px;
   box-sizing: border-box;
   border: 1px solid rgb(13, 19, 33);
   opacity: 0.7;
   color: rgb(13, 19, 33);
   font-family: Azeret Mono;
   font-size: 15px;
   font-weight: 600;
   
   letter-spacing: 0%;
   text-align: center;
   cursor: pointer;
   }
   
   /* contain-2nd design end */
   
   
   
   
   /* contain-3rd design start */
   
   .contain-3rd{
     width: 946px;
   height: 336px;
   
   display: flex;
   justify-content: space-between;
   align-items: center;
       background-color: #f1f1f1;
       padding: 48px;
   margin: 32px 0px;
   border-radius: 16px;
   
   background: rgba(13, 19, 33, 0.02);
   
   }
   .contain-3rd .left-content{
     width: 477px;
   height: 220px;
   
   margin: 0px 10px;
   }
   .contain-3rd .left-content h2{
     width: 390px;
   height: 72px;
   
   margin: 16px 0px;
   color: rgba(13, 19, 33, 0.7);
   font-family: Azeret Mono;
   font-size: 24px;
   font-weight: 700;
   line-height: 36px;
   letter-spacing: 0%;
   text-align: left;
   
   }
   .contain-3rd .left-content p{
     width: 468px;
   height: 52px;
   
   color: rgb(13, 19, 33);
   opacity: 0.7;
   
   font-size: 16px;
   font-weight: 400;
   line-height: 26px;
   letter-spacing: 0%;
   text-align: left;
   }
   
   .contain-3rd .left-content button{
   
     width: 150px;
   height: 48px;
   
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   padding: 12px 20px 12px 20px;
   margin: 32px 0px;
   box-sizing: border-box;
   border: 1px solid rgb(13, 19, 33);
   opacity: 0.7;
   color: rgb(13, 19, 33);
   font-family: Azeret Mono;
   font-size: 15px;
   font-weight: 600;
   
   letter-spacing: 0%;
   text-align: center;
   cursor: pointer;
   }
   
   
   .contain-3rd .right-content{
     width: 259.56px;
     height: 217.01px;
     
     margin: 16px 0px;
     margin: 16px 0px;
     
   }
   
   .contain-3rd .right-content img{
     
   position: absolute;
   width: 259.56px;
   height: 217.01px;
   
   }
   
   /* contain-3rd design end */
   
              /*  Why Web Development?? section 2 design  end */


               /* My Inspiration section 3 design start */
.inspire-container{

    width: 1140px;
  height: 777px;
  
  left: 148px;
  right: 152px;
  top: 2340px;
  bottom: 2128px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 80px 97px 80px 97px;
  border-radius: 16px;
  
  
  }
  .inspire-container .text-container{
  
    width: 852px;
    height: 115px;
    
    display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  margin: 48px 0px;
  
  }
  
  .inspire-container .text-container h2{
    width: 852px;
    height: 39px;
    
  
    display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
  }
  .inspire-container .iframe-container{
   max-width: 1140px;
  height:  414px;
  
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 32px;
  margin: 48px 0px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
  position: relative;
  
  }
  .inspire-container .iframe-container iframe{
    /* position: absolute;
    width: 90%;
    height: 90%;
     border: 2px solid red; 
    margin: 10px 0px;
    border-radius: 16px;  */
    
    display: flex;
    justify-content: center;
    align-items: center;
      top: 0;
      left: 0;
      width: 99%;
      height: 99%;
      overflow: hidden;
      border-radius: 16px;
  }
  
  
            /* My Inspiration section 3 design end */



            /* My Current Target section 4 design start */

.target-container{

    width: 1140px;
    height: 663px;
   left: 148px;
   right: 152px;
   top: 857px;
   bottom: 2993px;
   margin: 0 auto;
  
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   padding: 80px 97px 80px 97px;
  
   
   
  }
  
  .target-container .text-target-container{
  
    width: 946px;
    height: 115px;
   
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    margin: 48px 0px;
  
  
  }
  
  .target-container .text-target-container h1{
  
    width: 852px;
    height: 39px;
    
    display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  margin: 24px 0px;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
  
  }
  
  .target-container .text-target-container p{
  
  width: 852px;
  height: 52px;
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  
  margin: 24px 0px;
  opacity: 0.7;
  
  color: rgb(13, 19, 33);
  
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  
  }
  .target-container .skill-container{
  
    width: 1140px;
    height: 300px;
    
    margin: 0 auto;
    display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  margin: 48px 0px;
  gap: 24px;
  
  }
  
  .target-container .skill-container .html{
  
    width: 364px;
    height: 300px;
    
    display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 40px;
  border-radius: 16px;
  
  background: rgba(255, 76, 30, 0.05);
  
  }
  
  .target-container .skill-container .html img{
  
    width: 39.68px;
    height: 45px;
    left: 8.16px;
    top: 11px;
    
  
  }
  .target-container .skill-container .html h1{
  
    width: 284px;
    height: 36px;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    margin: 8px 0px;
    color: rgb(13, 19, 33);
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
  }
  .target-container .skill-container .html p{
    width: 284px;
    height: 52px;
  
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    margin: 8px 0px;
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
  
  }
  .target-container .skill-container .html button{
    width: 184px;
    height: 20px;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
   border: none;
    margin: 24px 0px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
    background:none;
    cursor: pointer;
  
  }
  
  .target-container .skill-container .css{
  
    width: 364px;
    height: 300px;
    
    display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 40px;
  border-radius: 16px;
  
  background: rgba(0, 76, 232, 0.05);
  
  }
  .target-container .skill-container .css img{
  
    width: 39.68px;
    height: 45px;
    left: 8.16px;
    top: 11px;
    
  
  }
  .target-container .skill-container .css h1{
  
    width: 284px;
    height: 36px;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    margin: 8px 0px;
    color: rgb(13, 19, 33);
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
  }
  .target-container .skill-container .css p{
    width: 284px;
    height: 52px;
  
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    margin: 8px 0px;
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
  
  }
  .target-container .skill-container .css button{
    width: 184px;
    height: 20px;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
   border: none;
    margin: 24px 0px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
    background:none;
    cursor: pointer;
  
  }
  
  .target-container .skill-container .javasricpt{
  
    width: 364px;
    height: 300px;
   
    display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 40px;
  border-radius: 16px;
  
  background: rgba(255, 223, 0, 0.05);
  
  }
  
  .target-container .skill-container .javasricpt img{
  
    width: 39.68px;
    height: 45px;
    left: 8.16px;
    top: 11px;
    
  
  }
  .target-container .skill-container .javasricpt h1{
  
    width: 284px;
    height: 36px;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    margin: 8px 0px;
    color: rgb(13, 19, 33);
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
  }
  .target-container .skill-container .javasricpt p{
    width: 284px;
    height: 52px;
  
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    margin: 8px 0px;
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
  
  }
  .target-container .skill-container .javasricpt button{
    width: 184px;
    height: 20px;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
   border: none;
    margin: 24px 0px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
    background:none;
    cursor: pointer;
  
  }
  
  
            /* My Current Target section 4 design end */
             /* support section  design start */

  .Support-bg{
    width: 1140px;
height: 314px;
border: 2px solid white;
margin: 0 auto;
margin-bottom: 50px;
padding-bottom: 5px;
background-color:rgba(0, 0, 0, 0.5);
background-image: url(../assets/handshake.jpg);
background-size: cover; 
background-position: center; 
background-repeat: no-repeat; 
border-radius: 16px;
background-blend-mode: overlay;

  }
 .support-container{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1044px;
height: 186px;
padding: 0px;
gap: 30px;
 }
 .support-container h1{
  color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: center;
 }

 .support-container p{
  color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
opacity: .7;
 }

/* .support-container input button{

  border-radius: 16px;

background: rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2);
display: flex;
flex-direction: row;

} */
.support-container input{
  width: 548px;
height: 57px;
  box-sizing: border-box;

border-radius: 8px;
font-size: 16px;
padding: 10px 20px;
background: rgb(255, 255, 255);
}
.support-container button{
  position: static;
width: 120px;
height: 58px;
font-size: 16px;
border-radius: 8px;
padding: 10px 20px;
background: rgb(255, 255, 255);
cursor: pointer;

}

                 /* support section  design end */
